:root {
    --color-primario: #1e3a5f;      
    --color-secundario: #4da8da;    
    --color-fondo: #e9ecf5;        
    --color-blanco: #cfd8e3;
    --color-texto: #1a1a1a;
    --color-linea: #dddddd;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);

    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    padding: 15px;
    text-align: center;
}

header h2 {
    margin: 0;
    color: var(--color-primario);
}

/* tarjeta */

.card {
    width: 550px;
    background: var(--color-blanco);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}

/* barra de empresa */
.empresa {
    background: var(--color-primario);
    color: var(--color-blanco);
    text-align: center;
    padding: 10px;
}

.empresa h2 {
    margin: 0;
    font-size: 18px;
}

.empresa p {
    margin: 0;
    font-size: 12px;
}

/* contenido */
.credencial {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.lado-izq {
    text-align: center;
}

.avatar {
    width: 110px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.lado-izq h3 {
    margin: 5px 0;
    color: var(--color-texto);
}


.lado-der {
    flex: 1;
}

.lado-der p {
    margin: 6px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-linea);
    color: var(--color-texto);
}


footer {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}

.footer-card {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-style: italic;
    position: relative;
}

.footer-card::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--color-secundario);
    margin: 0 auto 5px;
}
